<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>UseForwardServlet1Mapping</servlet-name>
		<servlet-class>ch09.UseForwardServlet1</servlet-class>
	</servlet> 
	<servlet-mapping>
		<servlet-name>UseForwardServlet1Mapping</servlet-name>
		<url-pattern>/UseForwardServlet1</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UseForwardServlet2Mapping</servlet-name>
		<servlet-class>ch09.UseForwardServlet2</servlet-class>
	</servlet> 
	<servlet-mapping>
		<servlet-name>UseForwardServlet2Mapping</servlet-name>
		<url-pattern>/UseForwardServlet2</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UseRequestServlet1Mapping</servlet-name>
		<servlet-class>ch11.UseRequestServlet1</servlet-class>
	</servlet> 
	<servlet-mapping>
		<servlet-name>UseRequestServlet1Mapping</servlet-name>
		<url-pattern>/UseRequestServlet1</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UseMyclassServlet1Mapping</servlet-name>
		<servlet-class>ch12.UseMyclassServlet1</servlet-class>
	</servlet> 
	<servlet-mapping>
		<servlet-name>UseMyclassServlet1Mapping</servlet-name>
		<url-pattern>/UseMyclassServlet1</url-pattern>
	</servlet-mapping>
	
</web-app>